@import '../settings/_hotels';

@mixin aw-menu {

  h1 {
    color: black;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
    border-top: 1px solid $mid-gray;
    border-bottom: 1px solid $mid-gray;
  }

  button {

    a {
      text-decoration: black;
    }
  }
}
