@import 'icon-spin';

@mixin user-card {

  //max-width: 25rem;
  .mat-card-content {
    padding: 1rem 0;
  }
}

@mixin user-form {
<<<<<<< HEAD
  mat-input-container {
=======
  mat-form-field {
>>>>>>> 8d34e99f5d18c623c94d08a244645d80b5660559
    width: 100%;
    margin: 1rem 0;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .loading mat-icon {
    @include icon-spin;
  }
}