<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="over" align="end" (click)="sidenav.close()">
        <button mat-button class="sidenav-link" routerLink="/">
            <i *ngIf="!userLoggedIn()"class="material-icons">home</i>
            <i *ngIf="userLoggedIn()" class="material-icons">dashboard</i>
            {{ userLoggedIn() && 'Dashboard' || 'Home' }}
        </button>
        <button mat-button class="sidenav-link" routerLink="/about" *ngIf="!userLoggedIn()">
            <i class="material-icons">info_outline</i>
            About
        </button>
        <user-menu class="sidenav-link" (click)="sidenav.close()"></user-menu>
        <admin-menu *ngIf="inGroup('Admin')" class="sidenav-link" (click)="sidenav.close()"></admin-menu>
    </mat-sidenav>

    <header>
        <mat-toolbar>
            <span class="title" routerLink="/">Hotels</span>
            <i mat-tooltip="Open menu." (click)="sidenav.open()" class="material-icons">menu</i>
        </mat-toolbar>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <section>
            <section class="account" *ngIf="!userLoggedIn()">
                <button class="register" mat-button routerLink="/register">Register</button>
                <button class="log-in" mat-button routerLink="/login">Log In</button>
            </section>
            <section>
                <h1 routerLink="/">Hotels</h1>
                <ul>
                    <li>Contact</li>
                    <li>FAQs</li>
                    <li>Hotels</li>
                    <li>Privacy</li>
                    <li>SiteMap</li>
                </ul>
            </section>
        </section>
        <mat-toolbar>
            <span class="copyright" routerLink="/"><i></i> &copy; Hotels</span>
            <ng-container>
                <button mat-icon-button><i class="icon instagram"></i></button>
                <button mat-icon-button><i class="icon facebook"></i></button>
                <button mat-icon-button><i class="icon twitter"></i></button>
            </ng-container>
        </mat-toolbar>
    </footer>
</mat-sidenav-container>