<!--<button md-icon-button>-->
    <!--<i class="icon first"></i>-->
<!--</button>-->
<!--<button md-icon-button>-->
    <!--<i class="icon previous"></i>-->
<!--</button>-->
<!--<button md-icon-button>1</button>-->
<!--<button md-icon-button>2</button>-->
<!--<button md-icon-button disabled>-->
    <!--<md-icon>&hellip;</md-icon>-->
<!--</button>-->
<!--<button md-icon-button>99</button>-->
<!--<button md-icon-button>100</button>-->
<!--<button md-icon-button>-->
    <!--<i class="icon next"></i>-->
<!--</button>-->
<!--<button md-icon-button>-->
    <!--<i class="icon last"></i>-->
<!--</button>-->