<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-input-container>
        <md-placeholder><i class="icon user-login"></i> Email address</md-placeholder>
        <input mdInput
               id="email"
               formControlName="email"
               type="email">
    </md-input-container>

    <md-input-container md-is-error="!!error">
        <md-placeholder><i class="icon security"></i> Password</md-placeholder>
        <input mdInput
               id="password"
               formControlName="password"
               type="password">
    </md-input-container>

    <md-checkbox id="loginAcceptTsAndCs"
                 mdTooltip="Hotels Terms and Conditions."
                 formControlName="acceptTerms">
    </md-checkbox>

    <p md-error *ngIf="error">{{ error }}</p>

    <section class="actions">
        <button md-button [disabled]="!form.valid || loading" type="submit">
            <i class="icon user" *ngIf="!loading"></i>
            <i class="icon refresh loading" *ngIf="loading"></i>
            Login
        </button>
        <button md-button routerLink="/forgot-password" *ngIf="forgotPass">
            <i class="icon security"></i>
            Forgot Password
        </button>
    </section>
</form>