@import '../../../../../scss/mixins/user-card';

form {
  @include user-form;
}

mat-placeholder .icon {
<<<<<<< HEAD
  font-size: 100%;
}

=======
<<<<<<< HEAD
  font-size: 125%;
=======
  font-size: 100%;
  text-align: left;
>>>>>>> 8d34e99f5d18c623c94d08a244645d80b5660559
}

mat-checkbox {
  display: block;
  width: 100%;
  margin: 1em 0;
}

mat-checkbox {
  margin: 1em 0;
  padding-bottom: 6px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8d34e99f5d18c623c94d08a244645d80b5660559
>>>>>>> 6fc9d6660af4a0a898e1bf74151891b17a95ee92
