@import '../../../../../scss/mixins/user-card';

form {
  @include user-form;
}

mat-placeholder .icon {
  font-size: 125%;
}

mat-checkbox {
  display: block;
  width: 100%;
  margin: 1em 0;
}

mat-checkbox {
  margin: 1em 0;
  padding-bottom: 6px;
}
