<section class="wrapper">
    <section mat-dialog-title>
        <button mat-tooltip="Close." mat-dialog-close class="material-icons">close</button>
        <h1><i class="material-icons">add</i>Create New Organisation <i *ngIf="loading" class="material-icons">autorenew</i></h1>
    </section>

    <section mat-dialog-content>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-placeholder>Organisation Name</mat-placeholder>
                <input matInput id="name" formControlName="organisationName">
            </mat-form-field>
            <mat-form-field>
                <mat-placeholder>Notes</mat-placeholder>
                <input matInput id="notes" formControlName="notes">
            </mat-form-field>
            <label for="address">Organisation Address</label>
            <button mat-button color="red" id="address" type="button" (click)="editAddress()">
                <i class="icon edit"></i>
            </button>
            <mat-form-field>
                <mat-placeholder>Carrier Registration Number</mat-placeholder>
                <input id="carrierRegistration" formControlName="carrierRegistration" matInput>
            </mat-form-field>

            <section mat-dialog-actions align="end">
                <button mat-tooltip="Cancel and close." mat-button mat-dialog-close>
                    <i class="material-icons">close</i>
                    Cancel
                </button>
                <button mat-button matTooltip="Save organisation." [disabled]="!form.valid" type="submit">
                    <i class="material-icons">save</i>
                    Save
                </button>
            </section>
        </form>
    </section>
</section>

